header{
    font-size: xx-large;
    color: azure;
    background-color: green;
    border: 5px;
    height: 50px; ;
}
#header1{
    color: black;
    font-size: medium;
    display: flex;
    border-top-style: solid;
    }
.year1{
    position: inherit;
    display: inline;
    padding-left: 1%;
    border-left-style: solid;
}
footer{
    background-color: mediumspringgreen;
}
.icons{
    /* float: left; */
    padding-inline: 3%;
}
a{
    border-color: black;
    font-size: large;
}
.asslink{
    border-style: groove;
    border-color: chartreuse;
}